.Trending{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    justify-content:space-evenly;
    align-items:center;
}
.pagetitle{
    display: flex;
    text-transform: uppercase;
    justify-content:center;;
    font-size:3vw;
    padding:5px;
    margin-top: 80px;
    border-radius:50px;
    color:white;
}
@media (max-width: 700px){
    .pagetitle{
        font-size:5vw;
    }
    .trending{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
    }
}